<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- restore means install matched package defined in .csproj or packages.config file -->
	<packageRestore>
    <!-- The 'enabled' key is True when the "Allow NuGet to download missing packages" checkbox is set.
         Clearing the box sets this to False, disabling command-line, automatic, and
         MSBuild-integrated restore. -->
    <add key="enabled" value="True" />
    <!-- The 'automatic' key is set to True when the "Automatically check for missing packages during
         build in Visual Studio" checkbox is set. Clearing the box sets this to False and disables
         automatic restore. -->
    <add key="automatic" value="True" />
  </packageRestore>

  <!-- Define Active package source strategy -->
  <activePackageSource>
    <!-- All non-disabled sources are active -->
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

  <!-- Define Package Sources in descending order, the first one has higheset priority -->
  <packageSources>
    <add key="nuget-cn" value="https://nuget.cdn.azure.cn/v3/index.json" protocolVersion="3"/>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>

  <!-- Disabled package sources  -->
  <disabledPackageSources>
    <!-- <add key="nuget.org" value="true" /> -->
  </disabledPackageSources>
</configuration>
