<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JunitXml.TestLogger" version="3.0.124" />
  <package id="Microsoft.TestPlatform" version="17.5.0" />
  <package id="GoogleTestAdapter" version="0.18.0" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.dyn.rt-dyn" version="1.8.1.7" targetFramework="native" />
</packages>
